@model SerieWeb.Models.Serie

@{
    ViewBag.Title = "DetalhesUsuario";
}

<style>
    #fundo {
        position: absolute;
        z-index: 0;
    }

    #frente {
        position: absolute;
        z-index: 1;
    }

    div.container-fluid {
        background-image: radial-gradient(circle at 20% 50%, rgba(22.35%, 23.92%, 24.31%, 0.98) 0%, rgba(1.96%, 5.49%, 9.02%, 0.88) 100%);
    }
</style>

<div class="container-fluid" id="fundo">
    <img id="planodefundo" class="img-responsive" src="">
</div>


<span class="imdbRatingPlugin" data-user="ur87005910" data-title="tt2193021" data-style="p3">
    <a href="https://www.imdb.com/title/tt2193021/?ref_=plg_rt_1">
        <img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_37x18.png" alt=" Arqueiro
(2012) on IMDb" />
    </a>
</span>
<script>(function (d, s, id) { var js, stags = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"; stags.parentNode.insertBefore(js, stags); })(document, 'script', 'imdb-rating-api');</script>

<div id="frente" class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-3">
            <img class="card-img" src="@Html.DisplayFor(model => model.Imagem)" />
        </div>
        <i class="glyphicon-film"></i>
        <div class="col-9">
            <h1>@Html.DisplayFor(model => model.NomeSerie)</h1>
            <hr />

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Assista ao trailer <i class="glyphicon glyphicon-film"></i>
            </button>
            <i class="fa fa-check"></i>
            <hr />
            <i class="glyphicon glyphicon-film"></i>
            <h4>Sinopse</h4>
            <p>@Html.DisplayFor(model => model.Sinopse)</p>
            <h4>Nota</h4>
            <p>@Html.DisplayFor(model => model.Nota)</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rDHuyRyGuFQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

