@{
    ViewBag.Title = "Index";
}

<style>
    #fundo {
        background-image: url('../../Content/SVG/home.jpg');
        position: fixed;
        width: 100%;
        height: 100%;
    }

    hr {
        border-color: #ffffff !important;
    }
</style>

<div id="fundo">
    <div class="container">
        <div class="row">
            <div class="col-md-6  offset-md-3" style="text-align:center">
                <br />
                <br />
                <br />
                <h1 style="color:white">SERIES WEB</h1>
                <hr />
                
                @using (Html.BeginForm("Pesquisa", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <p>Digite o nome</p>
                    <input type="text" class="form-control" name="pesquisa" id="texto" placeholder="Digite a pesquisa" />
                    <div><button class="btn btn-primary" type="submit">Buscar</button></div>
                }
            </div>
        </div>
    </div>
</div>