@{
    ViewBag.Title = "Index";
}


<div class="home-image">
    <div class="container" style="height:100%;">
        <div class="row" style="margin-top:25vh;"> 
            <div style="margin:auto;">
                <h1 style="color:white;">SERIES WEB</h1>
            </div>
                @using (Html.BeginForm("Index", "Explorar", FormMethod.Post, new { @class = "col-12" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">                        
                          
                        <div class="input-group">
                            <input type="text" class="form-control" name="pesquisa" id="HomePesquisa" placeholder="Digite sua Pesquisa">
                            <button class="btn btn-primary BtnPesquisa" type="submit">
                               
                                <img src="~/Content/SVG/pesquisa.svg" />
                            </button>
                           
                        </div>
                    </div>
                }
           
        </div>
    </div>
</div>