@{
    ViewBag.Title = "Index";
}

<style>
    #fundo {
        background-image: url(https://res-console.cloudinary.com/seriesweb/thumbnails/v1/image/upload/v1523719386/aG9tZQ==/grid);
        position: fixed;
        width: 100%;
        height: 100%;
    }

    hr {
        border-color: #ffffff !important;
    }

</style>

<div id="fundo">
    <div class="container">
        <div class="row">
            <div class="col-md-6  offset-md-3" style="text-align:center">
                <br />
                <br />
                <br />
                <h1 style="color:white">SERIES WEB</h1>
                <hr />
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>    
</div>