@model IEnumerable<SerieWeb.Models.Serie>
@{ 

 }

    <div>
        @using (Html.BeginForm())
        {
            <p>Digite o nome</p>
            <input type="text" name="pesquisa" id="texto" placeholder="Digite a pesquisa" />
            <div><button type="submit">Filtrar</button></div>
        }
    </div>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
        </tr>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SerieID</td>
                        <td>@item.NomeSerie</td>                        
                    </tr>
                }
            }
        }
    </table>


