<option value="">-- Temporada --</option>
@if (ViewBag.TemporadaOpcao != null)
{
    foreach (var item in ViewBag.TemporadaOpcao)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
