@{
    ViewBag.Title = "Confirmar e-mail";
}

<div class="container">
    <p>
        Obrigado por confirmar seu e-mail. @Html.ActionLink("Clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
