@{
    ViewBag.Title = "Pedido de Confirmação de Email";
}
<div class="container">
    <div class="card mb-2">
        <div class="col-md-auto">
            <img id="imagemEmail" class="rounded mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Email_icon-black.svg/1024px-Email_icon-black.svg.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="text-center">Confirmação de conta</h5>
            <br />
            <p class="text-center">Por Favor entre no seu email é confirme sua conta antes de fazer o login.</p>

        </div>
    </div>
</div>
