/* --- Geral ---*/
.container {
    margin-top: 20px;
}


/*Botoes do admin*/
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    padding: 13px;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
    padding: 13px;
}
/*------fimm ----*/

/*Email confirmacao - Account/EmailPedido*/
#imagemEmail {
    margin: 30px;
    width: 10%;
}
/*---Fim---*/

/*Serie individual Explorar/DetalhesSerie*/

@media (min-width: 1000px) {
    .DetalhesSerie {
        background: linear-gradient(20deg, #242E30 30%, #2a3031 25% );
        padding-right: 0;
        padding-left: 0;
        height: 31.250em;
    }

    .containerDetalhesSerie {
        margin-top: 0;
        height: 31.250em;
    }

    .containerImagemdetalhes {
        height: 31.250em;
        padding-top: 25px;
    }

    .containerInfoDetalhes {
        height: 31.250em;
        padding-top: 25px;
    }

    .img-seriedetalhes {
        display: block;
        width: 300px;
        height: 450px;
        box-shadow: -20px 7px 100px rgba(111, 109, 109, 0.2);
        border-radius: 8px;
    }

    .row.btnDetalhes {
        margin-bottom: 50px;
    }

    /*.visible {
        visibility: visible;
    }*/
    
}

@media (max-width: 1000px) {
    .DetalhesSerie {
        padding-right: 0;
        padding-left: 0;
    }

    .containerDetalhesSerie {
        margin-top: 0;
        height: 31.250em;
    }

    .containerImagemdetalhes {
        height: 10vh;
        padding-top: 25px;
    }

    .containerInfoDetalhes {
        height: 31.250em;
        padding-top: 25px;
    }

    .img-seriedetalhes {
        width: 100%;
        height: 100%;
    }

    .row.btnDetalhes {
        margin-bottom: 50px;
    }

    /*.invisible {
        visibility: hidden;
    }*/

}
/*----fim----*/

/*----imagem index----*/

@media (min-width: 1367px) {
    .img-indexcarousel {
        display: block;
        width: 100%;
        height: 45em;
        border-radius: 5px;
    }
}

@media (max-width: 1366px) {
    .img-indexcarousel {
        display: block;
        width: 100%;
        height: 31.25em;
        border-radius: 2px;
    }
}
/*----fim----*/
/*----Explorar index----*/
.explorarCard {
    border: 0 none transparent;
    
}
#DivExplorarCard {
    margin-bottom: 10px;
}
#desktop{
    margin-top:25px;
    margin-bottom:25px;
}

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

.card {
    flex: 2;
}





/*----fim----*/

.tooltip-inner {
    background-color: #007BFF;
}

.BtnFavorito {
    border-radius: 10px;
}

    .BtnFavorito:hover {
        border-color: red;
        border-width: 2px;
    }

.BtnLike {
    border-radius: 10px;
}

    .BtnLike:hover {
        border-color: #007bff;
        border-width: 2px;
    }

.BtnStar {
    border-radius: 10px;
}

    .BtnStar:hover {
        border-color: yellow;
        border-width: 2px;
    }

.container-fluid-no-padding {
    padding-right: 0;
    padding-left: 0;
}

.Perfilbackground {
    background: linear-gradient(20deg, #242E30 30%, #2a3031 25% );
    padding-right: 0;
    padding-left: 0;
    height: 15.250em;
}

/*#region Admin */

.control-label {
    margin-left: 18px;
    padding-right: 18px;
}

.formepisodio {
    height: 40px;
}

/*#endregion */

/*#region Home Index */
#HomePesquisa {
    background-color: rgba(255, 255, 255, 0.7098039215686275);
    border: 0;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

    #HomePesquisa:hover {
        border: 1px;
        background-color: #fff;
    }

    #HomePesquisa::-moz-placeholder {
        color: #000;
        font-weight: bold;
        filter: alpha(opacity=100);
    }

    #HomePesquisa:-moz-placeholder {
        color: #000;
        font-weight: bold;
        filter: alpha(opacity=100);
    }

    #HomePesquisa::-webkit-input-placeholder {
        color: #000;
        font-weight: bold;
        filter: alpha(opacity=100);
    }

    #HomePesquisa:-ms-input-placeholder {
        color: #000;
        font-weight: bold;
        filter: alpha(opacity=100);
    }

.home-image {
    background-image: url('../../Content/SVG/capa.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3c3c3c !important;
    background-blend-mode: multiply;
}

.BtnPesquisa {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}


/*#endregion */


button.multiselect.dropdown-toggle.btn.btn-Light {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 43px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.16);
    border-radius: 18px;
    color: #2c2c2c;
}
.multiselect-container.dropdown-menu.show {
    transform: translate3d(25px, 43px, 0px) !important;
    min-width: 16rem !important;
    margin: 0 !important;
    padding-left: 25px !important;
}
