/* --- Geral ---*/
.container {
    margin-top: 20px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
ul {
    list-style-type: none;
}


/*Botoes do admin*/
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    padding: 13px;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
    padding: 13px;
}
/*------fimm ----*/

/*Email confirmacao - Account/EmailPedido*/
#imagemEmail {
    margin: 30px;
    width: 10%; 
}
/*---Fim---*/

/*Serie individual Explorar/DetalhesSerie*/
.DetalhesSerie {
    background-color: red;
    padding-right: 0;
    padding-left: 0;
    height:31.250em;
}
.containerDetalhesSerie {
    margin-top: 0;
    height: 31.250em;
}
.containerImagemdetalhes {
    height: 31.250em;
    padding-top:25px;
}
.containerInfoDetalhes {
    height: 31.250em;
    padding-top: 25px;
}
.img-seriedetalhes {
    display: block;
    width: 300px;
    height: 450px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-radius: 4px;
}
/*----fim----*/
