@model SerieWeb.Models.Perfil.PerfilViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid " style="background-color:red; height:250px;">
    <div class="col-2" style="background-color:white; height:250px;">

    </div>
</div>
<div class="container-fluid" style="background-color:blue; height:50px;">

</div>
<div class="container containerDetalhesSerie" style="background-color:yellow; height:540px;">
    <div class="row">       
        @foreach (var item in Model.serie)
        {
            <div class="col" style="background-color:white; height:240px;margin:20px;">
                @item.NomeSerie
            </div>
        }
    </div>
</div>