
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    avalição 
</div>
<div>
    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item active" id="nav-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        <a class="nav-item" id="nav-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        <a class="nav-item" id="nav-contato-tab" data-toggle="pill" href="#pills-contato" role="tab" aria-controls="pills-contato" aria-selected="false">Contato</a>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">@Html.Partial("_LoginPartial")</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">@Html.Partial("Error")</div>
        <div class="tab-pane fade" id="pills-contato" role="tabpanel" aria-labelledby="pills-contato-tab"></div>
    </div>
</div>
