@model SerieWeb.Models.Admininstracao.Serie
@{
    ViewBag.Title = "Recomendado";

}

<div class="panel-header panel-header-sm">

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #000;">
    <div class="container" style="margin-top:0">       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Favorito", "Index", "Perfil", new { area = "" }, new { @class = "nav-link" })

                </li>
               
                <li class="nav-item">
                    @Html.ActionLink("Servico", "Servico", "Perfil", new { area = "" }, new { @class = "nav-link" })

                </li>
                <li class="nav-item">
                    @Html.ActionLink("Recomendado", "Recomendado", "Perfil", new { area = "" }, new { @class = "nav-link active" })

                </li>
            </ul>
            
        </div>
    </div>
</nav>
<div class="container">
    <div class="card">
        <div class="card-footer">
            Serviço recomendado
        </div>
        <div class="card-body">

            <div class="row" style="margin-bottom:10px">
                <div class="col-12">
                    <p> HBO</p>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-12">
                    <p> Netflix</p>
                    <div class="progress">
                        <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-12">
                    <p> Amazon Prime</p>
                    <div class="progress">
                        <div class="progress-bar w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

             <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Recomendação</h4>
                <p>Nome: HBO</p>
                <p>Preço: R$34,00</p>
                <hr>
                <p class="mb-0">Continue adicionado series aos favoritos para ver qual melhor serviço lhe atende</p>
            </div>
        </div>
    </div>
</div>
