@model SerieWeb.Models.Serie

@{
    ViewBag.Title = "DetalhesSerieFavorito";
}
<div class="container-fluid DetalhesSerie">
    <div class="containerDetalhesSerie container" style="background-color:blue;">
        <div class="row">
            <div class="col-4 containerImagemdetalhes">
                    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/v1QQKq8M0fWxMgSdGOX1aCv8qMB.jpg" class="img-seriedetalhes img-thumbnail rounded mx-auto d-block" alt="Responsive image">
            </div>
            <div class="col-8 containerInfoDetalhes" style="background-color:chartreuse;">
                <h1>Star Wars</h1>
                <div class="row">
                    <
                </div>
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>   
</div>

