@model IEnumerable<SerieWeb.Models.Serie>
@{
    ViewData["Title"] = "Index";
}


<div class="col-12">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/xsE-SxaYGMJjIw62LR-6RBQpUT0MhsNyv1nBVUYl29C5blLk2PCq8R21HXsSinnI8As=w200-h300-rw">
                <div class="card-block">
                    <h5 class="text-bold">Tawshif Ahsan Khan</h5>
                </div>
            </div>
        </div>

        }
        <hr />
    </div>

</div>


