@model IEnumerable<SerieWeb.Models.Serie>
@{
    ViewData["Title"] = "Index";
}
<style>


    .gray-bg {
        background-color: #f8f8f8;
    }

    .card {
        font-family: "Segoe UI";
        background-color: #fff;
        border-radius: 0;
        height: 254px;
        margin-bottom: 50px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .card-image {
        max-width: 40%;
        overflow: hidden;
        padding: 0;
        align: center;
        vertical-align: middle;
        float: left;
    }

        .card-image img {
            /* max-width: 100%; */
            max-height: 254px;
            align: center;
            vertical-align: middle;
            float: left;
        }




    .card-body {
        display: block;
        padding: 30px 0px 30px 30px;
    }

    h4.card-title {
        color: #111;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
    }

    .card-body p {
        color: #999;
        padding-top: 1em;
        letter-spacing: 0.5px;
        line-height: 1.6em;
    }

    .card-body .link-btn {
        display: inline-block;
        margin: 30px 0px 0px 0px;
        float: right;
        color: #777;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .95em;
    }
</style>

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('http://www.diken.com.tr/wp-content/uploads/2014/06/20140410-game-of-thrones5.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First Slide</h3>
                    <p>This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    



<section>
    <div class="container">

        <div class="row">
            <section class="gray-bg" id="portfolio">
                <div class="container section">
                    <div class="row">
                        @foreach (var item in Model)
                    {
                        <a asp-controller="Serie" class="link-btn" asp-action="DetalhesUsuario" asp-route-id="@item.SerieID">
                            <div class="col-md-6">
                                <!-- card #1 -->
                                <div class="card">
                                    <div class="col-md-6 card-image">
                                        <img class="img-responsive" src="@item.Imagem">
                                    </div>
                                    <div class="col-md-6 card-body">
                                        <h4 class="card-title">@item.NomeSerie</h4>
                                        <p class="card-text">@Html.Raw(item.Sinopse)</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                }
                    </div> <!-- class row end -->
                </div> <!-- class container end -->
            </section>
        </div>
    </div>
</section>

<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>